.background {
  padding: 80px 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  h2 {
    color: #4e4c50;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    max-width: 445px;
  }
  .li {
    padding-left: 38px;
    margin-top: 24px;
    position: relative;
    span {
      color: #2a292c;
      font-size: 19px;
      line-height: 24px;
      width: 398px;
      display: block;
      font-weight: 300;
    }
    &::after {
      content: "";
      width: 20px;
      height: 22px;
      background: url(https://monkeymedia.vcdn.com.vn/upload/web/img_default/tick1.svg)
        no-repeat 0 0 / contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .img {
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    img {
      width: 100%;
    }
  }
}
