.background {
  margin-bottom: 40px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.box {
  margin: 40px 0;
  padding: 32px 32px 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 4px 24px hsl(0deg 0% 82% / 25%);
  overflow: hidden;
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 22px;
    color: #4e4c50;
    font-weight: 900;
    &::before {
      content: "";
      width: 32px;
      height: 32px;
      display: block;
      margin: 0px 12px 0 0;
      background: url(https://monkeymedia.vcdn.com.vn/upload/web/img_default/question-icon.svg)
        no-repeat 0 0 / contain;
    }
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    width: calc(50% - 15px);
    padding: 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #4e4c50;
    span {
      font-weight: 700;
      color: #ee202e;
    }
  }
  .item:nth-child(2) {
    border: none;
  }
}
.list > * + * {
  border-top: 1px solid #e9e9e9;
}
